*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  margin: 100px 0;
  font-size: 40px;
}
header .round-Counter{
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 50px;
}
body {
  background-color: #f5f9f7;
}
main .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  display: flex;
  justify-content: center;
}
main .buttons {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
main button {
  border: 0;
  height: 90px;
  width: 90px;
  font-size: 50px;
  background-color: #464578;
  border-radius: 16px;
  transition: 50ms ease;
}
main button:hover {
  transform: translateY(-10px);
  box-shadow: 5px 10px 5px rgba(70, 69, 120, 0.6);
  cursor: pointer;
}
main .textarea-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}
main .win-Counters{
  font-size: 25px;
  line-height: 45px;
  margin-left: 25px;
}
main .textbox-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}
main .textbox-container textarea {
  border: 4px solid #ebdbe3;
  resize: none;
  border-radius: 7px;
  height: 260px;
  width: 500px;
  font-size: 25px;
  align-self: center;
}
main .textbox-container textarea:focus {
  border-color: #ebdbe3;
  outline: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  display: none;
}
#overlay-content {
  font-size: 50px;
  text-align: center;
  transition: 50ms ease;
}
#play-button {
  margin-top: 30px;
  border: 0;
  height: 90px;
  width: 120px;
  font-size: 50px;
  color: white;
  background-color: #464578;
  border-radius: 16px;
  transition: 50ms ease;
}
#play-button:hover {
  transform: translateY(-10px);
  box-shadow: 5px 10px 5px rgba(70, 69, 120, 0.6);
  cursor: pointer;
}

#overlay-winner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  display: none;
}
#winner-content {
  font-size: 50px;
  text-align: center;
  transition: 50ms ease;
}
#play-again {
  margin-top: 30px;
  border: 0;
  height: 150px;
  width: 520px;
  font-size: 50px;
  color: white;
  background-color: #464578;
  border-radius: 16px;
  transition: 50ms ease;
}
#play-again:hover {
  transform: translateY(-10px);
  box-shadow: 5px 10px 5px rgba(70, 69, 120, 0.6);
  cursor: pointer;
}

footer {
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #ebdbe3;
  padding: 20px 0;
}
